
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#page{
  width: 85%;
  height: 55vh;
  margin: auto;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%

}

#homeContainer{
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.72);
min-height: 33vh;
  width: 80%;
  margin: auto;
  margin-top: 2.5%;
  border-radius: 15px;
  color: rgb(254, 254, 254);
  text-align: center;
  position: relative;
}

.pageIntro{
  width: 52%;
  margin: auto;
  font-size: 40%;
  margin-top: 1%;
}

.inputs{
  display: flex;
  flex-flow: column;
  
}
#encryptMessageBox, #key, #operation{
  color: #5497f0;
  margin:auto;
  width: 95%;
  margin-top: 2%;
}

#messageBox{
  font-size: 95%;
}

#DecryptButton{
  display: none;
  margin: auto;
  height: 18%;
  font-size: small;
  align-items: center;
}

#EncryptButton{
margin: auto;
height: 18%;
font-size: small;
align-items: center;
}

#outputBox{
  position: relative;
  align-items: center;
  height: 100%;
  padding: 1%;

}

#outputResult::-webkit-scrollbar {
  width: 2% !important;
}

#outputResult{
  width: 100%;
  position: absolute;
  margin: auto;
  overflow-wrap: break-word;
  text-align: justify;
  background: rgba(11, 10, 11, 0.5);
  height: 80%;
  border-radius: 10px;
  padding: 4%;
  overflow-y:scroll;
}

@media screen and (max-width: 700px) {
  #homeContainer{
    min-height: fit-content;
  }
  
  #page {
    display: flex;
    min-height: 100vh;
    max-height: fit-content;
    flex-flow: column;
    
  }
  
  #outputResult{
    min-height: 90%;
    overflow-y: visible;
  } 
}