body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#homeContainer{
  background-color: rgba(0, 0, 0, 0.72);
min-height: 33em;
  width: 60%;
  margin: auto;
  margin-top: 2%;
  border-radius: 5%;
  color: rgb(254, 254, 254);
  text-align: center;
  position: relative;
}

.pageIntro{
  width: 52%;
  margin: auto;
  font-size: 60%;
}

#select, #encryptMessageBox, #keyBox{
  color: aqua;
  margin:auto;
  margin-top: 2%;
}
#messageBox{
  margin-top: 2%;
  font-size: 95%;
}

#DecryptButton{
  display: none;
  margin: auto;
}

#EncryptButton{
margin: auto;
}

#outputBox{
  align-items: center;
  min-height: 1em;
  max-height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 1%;
  text-align:center;
  overflow-x: auto;
}

#form-select, #key, #messageBox{
  height: 10%;
  font-size: 95%;
}

#outputResult{
  margin: auto;
  overflow-wrap: break-word;
}